body
{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(./images/achtergrond.png); 
    background-repeat: no-repeat;
    background-size: cover;
}

#MainContainer
{
    width: 70%;
    height: 700px;
    margin-left: 15%;
    margin-right: 15%;
}
/*#region startscherm*/
#SectionStart
{
    height: 100%;
    width: 100%;
}
#BlockLeft
{
    float: left;
    width: 65%;
    height: 100%;
}
#BlockStart
{
    position: relative;
    width: 85%;
    height: 45%;
    background-color: whitesmoke;
    padding: 7.5%;
    padding-top: 5%;
    border-radius: 20px;
}
#Block1
{
    margin-top: -20px;
    width: 85%;
    height: 35%;
    float: right;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    border-bottom-left-radius: 20px;
    padding: 3.75%;
    padding-top: calc(3.75% + 20px);
}
#Block2
{
    margin-top: 5%;
    float: right;
    width: 35%;
    height: calc(45% + 35% + 15% - 5% + 15px);
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
/*#region Button Start*/
#ButtonStart
{
    background-color: rgb(50, 50, 255);
    color: white;
    margin-left: 0px;
}
#ButtonStart:hover
{
    background-color: rgb(50, 50, 220);
}
#ButtonStart:active
{
    background-color: rgb(50, 50, 220);
    box-shadow: 0px 0px 0px 2px rgb(50, 50, 180);
}
/*#endregion*/
#StartTitleContainer
{
    margin-bottom: 20px;
}
.StartTitle
{
    font-size: 60px;
    font-weight: 500;
    font-family: 'Bree Serif';
}
#StartTitleS
{
    color: rgb(50, 50, 255);
}
#StartTitleW
{
    color: black;
}
#StartSubTitle
{
    font-weight: 700;
    font-size: 35px;
    padding: 5px;
    padding-left: 0px;
}
#StartSubSubTitle
{
    font-size: 22px;
    margin-bottom: 80px;
}
/*#endregion*/

#SectionVragen
{
    display: none;
    height: 100%;
    width: 100%;
}
#SubContainer
{
    width: 86%;
    padding: 1% 7% 1% 7%;
}
/*#region progressbar*/
#progressbarcontainer
{
    height: 7px;
    width: 100%;
    background-color: inherit;
}
#progressbar
{
    height: 100%;
    width: 0%;
    background-color: rgb(50, 50, 255);
    transition: width 1s;
}
/*#endregion*/
/*#region Button Terug*/
#ButtonTerug
{
    width: 50px;
    height: 50px;
    background-color: gainsboro;
    margin: 10px;
    border: none;
    border-radius: 25px;
    transition: background-color .3s;
}
#ButtonTerug:hover
{
    background-color:rgb(199, 199, 199);
}
#ButtonTerug:active
{
    box-shadow: 0px 0px 0px 2px rgb(122, 122, 122);
}
/*#endregion*/

#VraagContainer
{
    height: 500px;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: 600;
}
#VraagOnderwerp
{
    color: rgb(50, 50, 255);
    margin-bottom: 30px;
}
.ButtonAntwoord
{
    font-size: 30px;
    padding: 14px 28px 14px 28px;
    margin: 2%;
    transition: background-color 0.2s;
}
.ButtonBorder
{
    border: 3px solid;
    border-radius: 15px;
    border-color: whitesmoke;
    box-shadow: none;
    outline: none;
    cursor: pointer;
}
.fathumbs
{
    font-size: 20px;
    margin-right: 14px;
}
/*#region Button Eens*/
#ButtonEens             
{
    background-color: lightgreen;
    color: white;
    margin-left: 0px;
}
#ButtonEens:hover
{
    background-color: rgb(118, 196, 118);
}
#ButtonEens:active
{
    background-color: rgb(118, 196, 118);
    box-shadow: 0px 0px 0px 2px rgb(75, 121, 75);
}

/*#endregion*/
/*#region Button Gvb*/
#ButtonGvb                
{
    background-color: gainsboro;
    color: black;
}
#ButtonGvb:hover
{
    background-color: rgb(180, 180, 180);
}
#ButtonGvb:active
{
    background-color: rgb(180, 180, 180);
    box-shadow: 0px 0px 0px 2px rgb(122, 122, 122);
}
/*#endregion*/
/*#region Button Onees*/
#ButtonOneens              
{
    background-color: orangered;
    color: white;
}
#ButtonOneens:hover
{
    background-color: rgb(209, 58, 3);
}
#ButtonOneens:active
{
    background-color: rgb(209, 58, 3);
    box-shadow: 0px 0px 0px 2px rgb(146, 39, 0);
}

/*#endregion*/
/*#region Button Overslaan*/
#ButtonOverslaan
{
    background-color: gainsboro;
    border-radius: 15px;
    font-size: 20px;
    color: rgb(122, 122, 122);
    margin-left: 1%;
    padding: 7px 7px 7px 14px;
}
#ButtonOverslaan:active
{
    box-shadow: 0px 0px 0px 2px rgb(122, 122, 122);
}
#AnimateArrow
{
    padding-right: 7px;
    transition: padding 0.5s;
}
#ButtonOverslaan:hover #AnimateArrow
{
    padding-left: 7px;
    padding-right: 0px;
}
/*#endregion*/
