body
{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(./images/achtergrond.png); 
    background-repeat: no-repeat;
    background-size: cover;
}

#MainContainer
{
    width: 70%;
    height: 700px;
    margin-left: 15%;
    margin-right: 15%;
}
/*#region startscherm*/
#SectionStart
{
    height: 100%;
    width: 100%;
}
#BlockLeft
{
    float: left;
    width: 65%;
    height: 100%;
}
#BlockStart
{
    position: relative;
    width: 85%;
    height: 45%;
    background-color: whitesmoke;
    padding: 7.5%;
    padding-top: 5%;
    border-radius: 20px;
}
#Block1
{
    margin-top: -20px;
    width: 85%;
    height: 35%;
    float: right;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    border-bottom-left-radius: 20px;
    padding: 3.75%;
    padding-top: calc(3.75% + 20px);
}
#Block2
{
    margin-top: 5%;
    float: right;
    width: 35%;
    height: calc(45% + 35% + 15% - 5% + 15px);
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
/*#region Button Start*/
#ButtonStart
{
    background-color: rgb(50, 50, 255);
    color: white;
    margin-left: 0px;
}
#ButtonStart:hover
{
    background-color: rgb(50, 50, 220);
}
#ButtonStart:active
{
    background-color: rgb(50, 50, 220);
    box-shadow: 0px 0px 0px 2px rgb(50, 50, 180);
}
/*#endregion*/
#StartTitleContainer
{
    margin-bottom: 20px;
}
.StartTitle
{
    font-size: 60px;
    font-weight: 500;
    font-family: 'Bree Serif';
}
#StartTitleS
{
    color: rgb(50, 50, 255);
}
#StartTitleW
{
    color: black;
}
#StartSubTitle
{
    font-weight: 700;
    font-size: 35px;
    padding: 5px;
    padding-left: 0px;
}
#StartSubSubTitle
{
    font-size: 22px;
    margin-bottom: 80px;
}
/*#endregion*/

#SectionVragen
{
    display: none;
    height: 100%;
    width: 100%;
}
#SubContainer
{
    width: 86%;
    padding: 1% 7% 1% 7%;
}
/*#region progressbar*/
#SectionProgressbar
{
    display: none;
}
#progressbarcontainer
{
    height: 7px;
    width: 100%;
    background-color: inherit;
}
#progressbar
{
    height: 100%;
    width: 0%;
    background-color: rgb(50, 50, 255);
    transition: width 1s;
}
/*#endregion*/
/*#region Button Terug*/
#ButtonTerug
{
    width: 50px;
    height: 50px;
    background-color: gainsboro;
    margin: 10px;
    border: none;
    border-radius: 25px;
    transition: background-color .3s;
}
#ButtonTerug:hover
{
    background-color:rgb(199, 199, 199);
}
#ButtonTerug:active
{
    box-shadow: 0px 0px 0px 2px rgb(122, 122, 122);
}
/*#endregion*/

#VraagContainer
{
    height: 500px;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: 600;
}
#VraagOnderwerp
{
    color: rgb(50, 50, 255);
    margin-bottom: 30px;
}
.ButtonAntwoord
{
    font-size: 30px;
    padding: 14px 28px 14px 28px;
    margin: 2%;
    transition: background-color 0.2s;
}
.ButtonBorder
{
    border: 3px solid;
    border-radius: 15px;
    border-color: whitesmoke;
    box-shadow: none;
    outline: none;
    cursor: pointer;
}
.fathumbs
{
    font-size: 20px;
    margin-right: 14px;
}
/*#region Button Eens*/
#ButtonEens             
{
    background-color: lightgreen;
    color: white;
    margin-left: 0px;
}
#ButtonEens:hover
{
    background-color: rgb(118, 196, 118);
}
#ButtonEens:active
{
    background-color: rgb(118, 196, 118);
    box-shadow: 0px 0px 0px 2px rgb(75, 121, 75);
}

/*#endregion*/
/*#region Button Gvb*/
#ButtonGvb                
{
    background-color: gainsboro;
    color: black;
}
#ButtonGvb:hover
{
    background-color: rgb(180, 180, 180);
}
#ButtonGvb:active
{
    background-color: rgb(180, 180, 180);
    box-shadow: 0px 0px 0px 2px rgb(122, 122, 122);
}
/*#endregion*/
/*#region Button Onees*/
#ButtonOneens              
{
    background-color: orangered;
    color: white;
}
#ButtonOneens:hover
{
    background-color: rgb(209, 58, 3);
}
#ButtonOneens:active
{
    background-color: rgb(209, 58, 3);
    box-shadow: 0px 0px 0px 2px rgb(146, 39, 0);
}

/*#endregion*/
/*#region Button Overslaan*/
#ButtonOverslaan
{
    background-color: gainsboro;
    border-radius: 15px;
    font-size: 20px;
    color: rgb(122, 122, 122);
    padding: 7px 7px 7px 14px;
}
#ButtonOverslaan:active
{
    box-shadow: 0px 0px 0px 2px rgb(122, 122, 122);
}
#AnimateArrow
{
    padding-right: 7px;
    transition: padding 0.5s;
}
#ButtonOverslaan:hover #AnimateArrow
{
    padding-left: 7px;
    padding-right: 0px;
}
/*#endregion*/

/*#region specifypages*/
#SectionSpecS, #SectionSpecP
{
    display: none;
}
#SectionSpec
{
    display: none;
}
#SpecVraagContainer
{
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: 600;
}
#SpecVraag
{
    width: 70%;
    margin: 0px;
}
#SpecSCount
{
    font-size: 20px;
    font-weight: normal;
    padding: 15px 0px 15px 0px;
}
.SpecContainer
{
    background-color: gainsboro;
    padding: 3%;
/*     border-radius: 20px; */
    width: 94%;
}
#SC3S, #SC3P
{
    float: right;
}
.SpecCollumn
{
    width: 28.95%;
    padding: 0px 2% 0px 2%;
    display: inline-block;
}
.ButtonSpec
{
    background-color: whitesmoke;
    width: 100%;
    border-radius: 8px;
    border-color: gainsboro;
    margin: 2px 0px 2px 0px;
    font-weight: normal;
    font-size: 14px;
    text-align: left;
    padding: 15px;
    display: inline-block;
}
.ButtonSpec:active
{
    box-shadow: 0px 0px 0px 2px rgb(50, 50, 255);
}
.facolorbox
{
    color: gainsboro;
}
.facolorcheck
{
    color : rgb(50, 50, 255);
}
.SpecNotSelected
{
    transition: opacity 0.2s;
    opacity: 0;
}
.SpecSelected
{
    transition: opacity 0.2s;
    opacity: 1;
}

#ButtonVolg
{
    background-color:rgb(50, 50, 255);
    color: whitesmoke;
    font-size: 25px;
    font-weight: 700;
    float: right;
    margin-top: -100px;
}
#ButtonVolg:hover
{
    background-color:rgb(50, 50, 220);
}
#ButtonVolg:active
{
    background-color:rgb(50, 50, 255);
    box-shadow: 0px 0px 0px 2px rgb(50, 50, 220)
}
/*#endregion*/

/*#region Results*/

#SectionResults
{
    padding: 0px 20% 0px 20%;
    width: 60%;
}
#ResultsContainer
{
    width: 94%;
    height: fit-content;
    padding: 3%;
    border-radius: 30px;
    box-shadow: 0px 0px 100px 5px lightgray;
    background-color:ghostwhite ;
}
.PercentileResult
{
    display: inline-block;
    margin: 0px 10px 0px 10px;
    padding: 5px;
    border-radius: 20px;
}

#PercentileContainer
{
    padding: 10px;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background-image: conic-gradient(rgb(50, 50, 255) 0deg 110deg, rgb(190, 190, 255) 90deg 110deg );
}
#PercentileSubContainer
{
    width: 100%;
    height: 60%;
    background-color: ghostwhite;
    border-radius: 50%;
}
.PercentileResultName
{
    display: block;
    text-align: center;
    padding-top: 15px;
    font-weight: bold;
    font-size: 15px;
    width: 80%;
    height: 45px;
    margin-left: 10%;
}
#PercentileSubContainer:only-child
{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding-top: 40%;
}

#PercentileAltContainer
{
    margin-top: 100px;
}
.PercentileAltResult
{
    padding: 20px;
    margin: 10px 0px 10px 0px;
    border-radius: 10px;
    background-color: ghostwhite;
    box-shadow: 0px 0px 20px 1px lightgray;
}
.PerentilceAltBarContainer
{
    display: inline-block;
    width: 90%;
    height: 10px;
    background-color: rgb(190, 190, 255);
}
.PercentileBar
{
    height: 100%;
    width: 55%;
    background-color: rgb(50, 50, 255);
}
.PercAlt
{
    display: inline-block;
    font-weight: bold;
    margin-left: 10px;
}
/*#endregion*/
